.badge[id="effect_context"] {
    word-wrap: break-word;
}

.badge[id="color_1"] {
    background: red;
    color: white;
}

.badge[id="color_2"] {
    background: orange;
    color: white;
}

.badge[id="color_3"] {
    background: yellow;
    color: black;
}

.badge[id="color_4"] {
    background: yellowgreen;
    color: black;
}

.badge[id="color_5"] {
    background: green;
    color: white;
}

.badge[id="color_6"] {
    background: blue;
    color: white;
}

.badge[id="color_7"] {
    background: indigo;
    color: white;
}

.badge[id="color_8"] {
    background: purple;
    color: white;
}