@media (min-width: 320px) {
    .background_view[id="character_search_view"] {
        background: url(../../resource/image/search_view_phone_background.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
        display: table;
    }

    .background_view[id="recently_card_list_view"] {
        background: url(../../resource/image/recently_card_view_phone_background.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
        display: table;
    }

    .background_view[id="recently_song_and_event_list"] {
        background: url(../../resource/image/recently_song_and_event_background.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-width: 100%;
        display: table;
    }

    .parallax_box {
        width : 80%;
    }
}

@media only screen and (min-width: 768px) {
    .background_view[id="character_search_view"] {
        background: url(../../resource/image/search_view_background.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
        display: table;
    }

    .background_view[id="recently_card_list_view"] {
        background: url(../../resource/image/recently_card_view_background.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
        display: table;
    }

    .background_view[id="recently_song_and_event_list"] {
        background: url(../../resource/image/recently_song_and_event_background.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
        display: table;
    }
    
    .parallax_box {
        width : 50%;
    }
}

.parallax_middle_box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.parallax_box {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}