.smile_bar {
    background-color: deeppink;
    margin-top : 5px;
    margin-bottom: 5px;
}
.pure_bar {
    background-color: limegreen;
    margin-top : 5px;
    margin-bottom: 5px;
}
.cool_bar {
    background-color: slateblue;
    margin-top : 5px;
    margin-bottom: 5px;
}