.slick-prev:before,
.slick-next:before {
    color: deeppink;
    background-color : rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

.productSlider {
    width: 100%;
    margin: 0 auto;    
}

.slick-slide {
    padding: 0px 5px;
}